@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2563eb;
  --color-primary-dark: #1e40af;
  --color-secondary: #64748b;
  --color-success: #10b981;
  --color-app-bg: #f8fafc;
  --color-card-bg: #ffffff;
  --color-border-main: #e2e8f0;
  --color-text-main: #1e293b;
  --color-text-muted: #64748b;
}

@layer base {
  body {
    @apply bg-app-bg text-text-main font-sans;
  }
}
